html {
  box-sizing: border-box;
  font-family: "Verlag Black", Georgia, "Times New Roman", Times, serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  align-items: center;
  align-content: center;
}

i {
  float: left;
  margin-right: 10px;
}
h1 {

  color: rgb(197, 5, 12);
}

h2 {
  border-style: solid;
  border-color: rgba(197, 5, 12, 0.767);
  color:rgb(197, 5, 12);
  padding: 5px
}

#block {
  width: 600px;
}

@media print {
  body {
    width: 100%
  }
}
